<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>e-Go</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

</head>
<body>

    <div class="container">

		<div class="row">
		
		</div>

    </div>

    <script src="/webjars/jquery/1.11.1/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>
